<div class="snippet-container">
  <h1>
    <span class="far fa-list-alt"></span> Snippets
  </h1>
  {{#if viewData.snippets.length }}
  {{#each viewData.snippets}}
  <div class="snippet-wrapper">
    <div class="snippet-upper">
      <p class="author-text">Author: {{this.author}}</p>
      <p class="title-text">Title: {{this.title}}</p>
      <a class="remove-icon" title="Remove" href="./snippets/{{this.id}}/remove"><span class="far fa-trash-alt"></span></a>
    </div>
    <div class="snippet-lower">
      <textarea class="snippet-text" readonly>{{this.text}}</textarea>
    </div>
  </div>
  {{/each}}
  {{else}}
  <tr>
    <td colspan="3" class="text-center text-danger">
      There are no snippets to display.
    </td>
  </tr>
  {{/if}}
</div>
<style>
  .snippet-text {
    width: 70%;
    height: 120px;
  }

  .snippet-lower {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .snippet-upper {
    background-color: #1a1919;
    padding-left: 10px;
    padding-top: 10px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
  }

  .snippet-upper>p {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-family: Verdana;
    letter-spacing: 1px;
  }

  .remove-icon {
    color: rgb(230, 230, 230);
    margin-left: 65%;
  }

  .remove-icon:hover {
    color: rgb(192, 51, 51);
    cursor: pointer;
  }

  .author-text {
    margin-right: 30px;
  }
</style>