<div class="snippet-container">
  <h1>Snippets
  </h1>
  {{#if viewData.snippets.length }}
  {{#each viewData.snippets}}
  <div class="snippet-wrapper">
    <div class="snippet-upper">
      <p class="author-text">Author: {{this.author}}</p>
      <p class="title-text">Title: {{this.title}}</p>
      {{#if this.belongsToUser }}
      <a class="remove-icon" title="Remove" href="./snippets/{{this.id}}/remove"><span
          class="far fa-trash-alt"></span></a>
      {{/if}}
    </div>
    <div class="snippet-lower">
      <textarea class="snippet-text" readonly>{{this.text}}</textarea>
    </div>
  </div>
  {{/each}}
  {{else}}
  <tr>
    <td colspan="3" class="text-center text-danger">
      There are no snippets to display.
    </td>
  </tr>
  {{/if}}
</div>