<div class="snippet-container">
  <h1>
    Remove Snippet
  </h1>
  <div class="snippet-wrapper">
    <div class="snippet-upper">
      <p class="author-text">Author: {{viewData.author}}</p>
      <p class="title-text">Title: {{viewData.title}}</p>
    </div>
    <div class="snippet-lower">
      <textarea class="snippet-text" readonly>{{viewData.text}}</textarea>
    </div>
    <form method="post" action="./snippets/{{viewData.id}}/delete">
      <input type="hidden" name="id" value="{{viewData.id}}" />
      <button type="submit" class="btn btn-lg btn-primary" autofocus="autofocus">Delete Snippet</button>
    </form>
  </div>